/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --1: #E50914;
    --2: #B81D24;
    --3: #221F1F;
    --4: #131313;
    --5: #b00810;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--4);
    padding: 20px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.navbar-logo img {
    height: 32px;
}

.navbar-menu {
    display: flex;
    gap: 64px;
    justify-content: center;
    flex: 1;
    margin-left: 18px;
}

.navbar-menu a {
    color: white;
    font-family: "Roboto", serif;
    font-weight: 150;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    transition: color 0.3s;
    cursor: pointer;
}

.navbar-menu a:hover {
    color: var(--1);
}

.navbar-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex: 1;
}

.navbar-buttons a {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.navbar-buttons .signup {
    color: white;
    padding: 8px 18px;
}

.navbar-buttons .signup:hover {
    color: var(--1);
}

.navbar-buttons .login {
    background-color: var(--1);
    color: white;
    border: none;
    margin-right: 10px;
    padding: 8px 24px;
    cursor: pointer;
}

.navbar-buttons .login:hover {
    background-color: var(--5);
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease; 
}

.nav-link.active {
    color: var(--1);
}

/* Sections */
section {
    height: 100vh;
    padding: 20px;
}

section h1 {
    color: white;
}

/* Home */
#home {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #000;
}

#home .title {
    font-size: 8rem;
    color: #e50914;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    animation: curveText 1.5s ease-in-out;
}

@keyframes curveText {
    0% {
        transform: scale(0.5) translateY(50px);
        opacity: 0;
        letter-spacing: 20px;
    }
    50% {
        transform: scale(1.2) translateY(-20px);
        opacity: 1;
        letter-spacing: 5px;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

/* Calendar */
#calendar {
    padding: 6.8rem 4rem;
    max-width: 100%;
    align-items: center;
    margin-bottom: 20rem;
}

#calendar h1{
    font-size: 52px;
    font-weight: 500;
    padding-bottom: 1.6rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--1);
}

.calendar-container {
    background-color: var(--4);
    padding: 1.8rem;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.calendar-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.calendar-header button:hover {
    background-color: var(--1);
}

.calendar-header h2 {
    font-size: 1.5rem;
    color: var(--1);
}

.calendar-grid{
    margin-bottom: 10px;
    font-size: 16px;
}

.calendar-grid, .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2rem; 
    text-align: center;
}

.calendar-row {
    font-weight: 400;
    color: #fff;
}

.calendar-cell {
    position: relative;
    padding: 1rem 3rem;
    text-align: center;
    border: 1px solid var(--4);
    background-color: var(--5);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px; 
}

.calendar-cell.inactive {
    background-color: #333;
    color: #777;
}

.calendar-cell:hover {
    background-color: var(--5);
    cursor: pointer;
}

/* Add Modal styles */
#calendar-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#calendar-modal .modal-content {
    background-color: var(--3);
    padding: 20px;
    border-radius: 10px;
    max-width: 450px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    text-align: left;
}

#calendar-modal .modal-content h3 {
    color: var(--1);
    margin-bottom: 20px;
}

#calendar-modal .modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

#movie-series-entries {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entry-form {
    border: 1px solid var(--4);
    padding: 10px;
    border-radius: 5px;
    background: #222;
}

.entry-form label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.entry-form input,
.entry-form select,
.entry-form textarea {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid var(--4);
    border-radius: 5px;
    background: #333;
    color: white;
    font-size: 14px;
}

.entry-form textarea {
    resize: vertical;
    min-height: 100px;
}

/* Button styles */
#modal-cancel {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#modal-cancel:hover {
    background-color: #333;
    transform: scale
}

#modal-save {
    background-color: var(--1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#modal-save:hover {
    background-color: var(--5);
    transform: scale
}

#modal-add-another {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal-add-another:hover {
    background-color: #0056b3;
}

/* Calendar hover interaction */
.calendar-cell:hover {
    cursor: pointer;
    background-color: #800000;
    color: transparent;
}

.calendar-cell:hover::after {
    content: '+';
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* My List Section */
#mylist {
    padding: 6.8rem 4rem;
    max-width: 100%;
    height: auto;
    align-items: center;
}

#mylist h1{
    font-size: 52px;
    font-weight: 500;
    padding-bottom: 1.6rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--1);
}

.mylist-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.mylist-header select {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    min-width: 18rem;
    width: auto;
}

.mylist-header button {
    padding: 10px 14px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.mylist-header button:hover {
    background-color: var(--5);
}

.mylist-container {
    min-height: 50rem;
    padding: 34px 0 60px 20px;
    background-color: var(--4);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.mylist-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 24px;
}

.mylist-card {
    width: 12rem;
    height: 17.4rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
}

#mylist-new-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    background-color: #1e1e1e;
    cursor: pointer;
    transition: transform 0.2s;
}

#mylist-new-card:hover {
    transform: scale(1.03);
    background-color: var(--4);
    border-color: #fff;
    color: var(--1);
}

.mylist-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.mylist-card-content{
    padding: 10px;
    text-align: center;
}

.mylist-card-content h3 {
    font-size: 16px;
    font-weight: 500;
}

.mylist-card-content h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.mylist-card-content p {
    margin: 8px 0;
    font-size: 12px;
    color: #bbb;
}

.mylist-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.mylist-modal-content {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    width: 380px;
}

.mylist-modal-content label {
    display: block;
    margin: 5px 0 8px 0;
}

.mylist-modal-content input,
.mylist-modal-content textarea,
.mylist-modal-content select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 16px;
}
  
.mylist-modal-content button {
    padding: 10px;
    width: 110px;
    background-color: var(--1);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.mylist-modal-content button:hover {
    background-color: var(--5);
}

/* Overlay for cards */
.mylist-card-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}

.mylist-card {
    position: relative;
    overflow: hidden;
}

.mylist-card-overlay button {
    width: 90px;
    padding: 10px;
    background-color: white;
    color: var(--1);
    border: 2px solid var(--1);
    font-size: 14px;
    font-weight: bolder;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.mylist-card-overlay button:hover {
    background-color: transparent;
    color: white;
    transform: scale(1.01);
}

.mylist-card:hover .mylist-card-overlay {
    display: flex;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}